<form [formGroup]="student" (ngSubmit)="onSubmit()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Add Student</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-item>
      <ion-input
        name="name"
        formControlName="name"
        type="text"
        label="Name"
        labelPlacement="floating"
        placeholder="Enter name"
        [clearInput]="true"
        [required]="true"
        [minlength]="3"
      ></ion-input>
    </ion-item>
    <!-- Error Messages -->
    <ion-note
      color="danger"
      *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    >
      <ng-container *ngIf="name?.hasError('required')">
        Name is required
      </ng-container>
      <ng-container *ngIf="name?.hasError('minlength')">
        Name must be at least 3 characters long
      </ng-container>
    </ion-note>

    <ion-item>
      <ion-input
        name="age"
        formControlName="age"
        type="number"
        label="Age"
        labelPlacement="floating"
        placeholder="Please enter age"
        [clearInput]="true"
        errorText="Age must be above 18"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        name="level"
        formControlName="level"
        label="Level"
        placeholder="Please select"
        errorText="Please select a level"
        [required]="true"
      >
        <ion-select-option value="undergrad">Undergraduate</ion-select-option>
        <ion-select-option value="postgrad">Postgraduate</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-buttons slot="start">
        <ion-button color="danger" (click)="closeForm()">Cancel</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button type="submit" color="success" [disabled]="student.invalid"
          >Save</ion-button
        >
      </ion-buttons>
    </ion-item>
  </ion-content>
</form>
